<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}Reading List</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
  <body>
    {% include "nav.html" %}
    <main>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="flash {{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

      {% block content %}{% endblock %}
    </main>
  </body>
</html>